@model IEnumerable<Claim>

@{
    ViewData["Title"] = "User Info";

    var claimTypes = new Dictionary<string, string>
{
{ClaimTypes.Name , "Login"},
{ClaimTypes.Email , "Email adress"}
};
}

<div class="text-center user-info">
    User information:
    <br>
    <br>
    @foreach (var claim in Model)
    {
        @if (claimTypes.Keys.Contains<string>(claim.Type))
        {
            <div>
                <label>@claimTypes[@claim.Type]</label>:
                <label>@claim.Value</label>
            </div>
            <br>
        }
    }
</div>