@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-info">
    Welcome to Turboaz - Elevate Your Car Buying Experience with Exclusive Features!
    <br>
    <br>
    <br>
    As an authenticated user, Turboaz welcomes you to a realm of enhanced possibilities. Our platform goes beyond the
    ordinary, offering a personalized experience that caters to your specific needs. With advanced features and seamless
    CRUD (Create, Read, Update, Delete) operations, Turboaz empowers you to take control of your car-buying journey like
    never before.
    <br>
    <br>
    Exclusive Authenticated Features:
    <br>
    <br>
    Personalized Profiles: Your Turboaz account is your space to showcase your preferences and manage your activity
    effortlessly.
    Your dream car is just a click away, and now, finding it is even more convenient.
    Enhanced Control, Effortless Experience:
    Turboaz recognizes the importance of user control and convenience. Authenticated users enjoy an elevated experience
    with a feature-rich platform that enables you to manage your car listings, preferences, and interactions seamlessly.
    <br>
    <br>
    Discover the power of authenticated access on Turboaz - where control meets convenience, and your dream car journey
    is tailored to your unique needs. Join us today and experience the next level of car buying and selling. Your
    automotive adventure awaits!
</div>
